.headerContainer {
  color: black;
}

.headerContent {
  justify-content: center;
}

.gradientText {
  color: black;
}

.primaryButton{
    background-color: #21ad25;
    border-color: #21ad25;
    color: white;
}

.primaryButton:hover{
    background-color: #198019;
    border-color: #147517;
}