.headerContainer {
  color: black;
}

.gradientText {
  color: black;
}

.primaryButton {
  background-color: #54aa57;
  border-color: #21ad25;
  color: white;
}

.primaryButton:hover {
  background-color: #198019;
  border-color: #147517;
}

.secondarySection {
  background-color: #306e32;
  color: white;
}

.secondaryButton {
  border-color: black;
  color: white;
  border-radius: 0;
}

.secondaryButton:hover {
  background-color: #c8e6c9;
  color: black;
  border-color: #c8e6c9;
}

.ternaryButton {
  border: none;
  color: white;
}

.ternaryButton:hover {
  background: none;
  color: white;
  transition: ease-in-out 0.2s;
  transform: scale(1.1);
}

.ternaryButton:hover .arrowIcon {
  transition: ease-in-out 0.2s;
  transform: scale(1.3);
}

.serviceCertificationIcon{
    color: yellow;
}

.serviceCleaningIcon{
    color: red;
}

.card{
  background-color: #306e32;
}