.sectionTitle {
  display: inline-block;
  position: relative;
  padding: 0 40px;
  margin: 0 0 12px;
}

.line {
  color: var(--main-color);
}

.line::before,
.line::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 34px;
  top: 30%;
  background-color: var(--main-color);
  transform: translateY(-50%);
}

.line::before {
  left: 0;
}

.line::after {
  right: 0;
}

.contactInfoItem {
  border-top: 2px solid var(--border-color);
}

.icon {
  height: 50px;
  width: 50px;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.iconColor {
  color: var(--main-color);
}

.textArea {
  height: 125px !important;
}

.primaryButton {
  background-color: var(--main-color);
  border-color: var(--border-color);
  transition: all 0.3s ease;
}

.primaryButton:hover {
  background-color: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}
